<%- include('header') -%>

<div class>
    <% jobs.forEach((job)=>{ %>
    <div class="jobStyle">
        <h3><%= job.title %></h3>
        <h3><%= job.companyName %></h3>
        <img width="200px" height="200px" src="<%= job.companyLogo %>"
            alt="company logo" />
        <p>

            <%= job.excerpt %>
        </p>
      
        <a href="/jobs/<%= job.title %>">View</a>
    </div>
    <% }) %>
    
     
    <a href="/jobboard?offset=<%= offset %>">More</a>
   
    <div>

<%- include('footer') -%>