<%- include('header') -%>

<div class = "container">
<div class="input-group">
  <div class="form-outline">
    <input type="search" id="search-box"" class="form-control" placeholder="Enter Keyword..." onkeyup="sendData(this)" />
    <label class="form-label" for="form1">Search</label>
  </div>

  
</div>

  <section id="searchResults">

    </section>
  
    <div class="row mt-2 row-cols-1 row-cols-md-3 g-4">
           <% jobs.forEach((job)=>{ %>
  <div class="col">
    <div class="card">
        <div class="d-flex">
      <img src="<%= job.companyLogo %>" class=" text-left img-fluid img-thumbnail hover-shadow w-25" alt="company logo"/>
        
      <div>
        <h3><%= job.companyName %></h3>
   
      <% if (job.minSalary) { %>
               <span class="badge badge-primary"> <i class="fas fa-money-bill "></i> $<%= job.minSalary %> - $<%= job.maxSalary %></span>
                <% } %>
      </div>
        </div>
      <div class="card-body">
        <h2 class="card-title"><%= job.title %></h2>
      
     
            <% if (job.locationRestrictions.length !== 0) {
            
            job.locationRestrictions.forEach((location, index)=>{ %>
                  <% if (index < 5){ %>
                    
            <span class="badge badge-info"><%= location %> <i class="fas fa-location"></i></span>
            <% } }) }
            else {%>
<span class="badge badge-info"> Anywhere <i class="fas fa-location"></i></span>
           <% } %>
 <% job.categories.forEach((category, index)=>{ %>
    <% if (index < 5){ %>
            <span class="badge badge-secondary"><%= category %></span>
            <% } }) %>
      
      <div class="align-items-right text-right">
          <a class ="btn btn-primary btn-sm mt-2" href="/jobs/<%= job.title %>">Details  <i class="fas fa-info-circle"></i></a>
          </div>

      </div>
    </div>
  </div>

 <% }) %>
</div>

 
    
<nav aria-label="Page navigation mt-4">
  <ul class="pagination pagination-circle justify-content-center">
   <li class="page-item">
      <a class="page-link btn" href="/jobboard?offset=<%= offset %>">Next</a>
    </li>
  </ul>
</nav>
   
    <div>
    <script>
        function sendData(e) {
            const searchResults = document.getElementById('searchResults');
            let match = e.value.match(/^[a-zA-Z ]*/);
            let match2 = e.value.match(/\s*/);
            if (match2[0] === e.value) {
                searchResults.innerHTML = '';
                return;
            }
            if (match[0] === e.value) {
                fetch('/jobs/search', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({payload: e.value})
                }).then(res => res.json()).then(data => {
                    let payload = data.payload;
                    searchResults.innerHTML = '';
                    if (payload.length < 1) {
                        searchResults.innerHTML = '<p>Sorry, Nothing Found...<p>';
                        return;
                    }
                    payload.forEach((item, index) => {
                        if (index > 0) searchResults.innerHTML += '<hr>';
                        searchResults.innerHTML += `<a href="/jobs/${item.title}">${item.title}</a>`;
                    });
                });
                return;
            }
            searchResults.innerHTML = '';
        }
    </script>

<%- include('footer') -%>