<%- include('header') -%>
<h1>Hello <%- user.firstName -%></h1>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/myprofile">Profile</a></li>
    <li class="breadcrumb-item  active" aria-current="page">Settings</li>
  </ol>
</nav>
<section class="vh-100 w-100" style="background-color: #9de2ff;">
<div class="text-center center-div" id="settings">
    <div class="container w-25 border py-5 bg-light" >
        <div class="title pb-5">
            <h2 class="font-weight-bold">Settings</h2>
            <span>Update profile settings</span>
        </div>
        <form action="/settings" method="POST" class="pt-3" enctype="multipart/form-data">
            <div class="form-outline mb-2">
                <input type="firstName" value="<%= user.firstName %>" class="form-control" name="firstName">
                <label class="form-label" for="fname">First Name</label>
            </div>
            <div class="form-outline mb-2">
                <input type="lastName" class="form-control" value="<%= user.lastName %>" name="lastName">
                 <label class="form-label" for="lname">Last Name</label>
            </div>
            <div class="form-outline mb-2">
                <input type="phoneNo" class="form-control" value="<%= user.phoneNo %>" name="phoneNo">
                <label class="form-label" for="phoneNo">Phone Number</label>
            </div>
            <div class="form-outline mb-2">
                <input type="address" class="form-control" value="<%= user.address %>"  name="address">
                  <label class="form-label" for="address">Address</label>
            </div>
            
<div class="form-outline mb-2">
                <input type="address" class="form-control" id="occupation"  value="<%= user.occupation %>"  name="occupation">
                  <label class="form-label" for="occupation">Occupation</label>
            </div>

<div class="form-outline mb-2">
                <input type="address" class="form-control" id="skills" value="<%= user.skills %>" name="skills">
                  <label class="form-label" for="skills">Skills(separated by comma(,))</label>
            </div>

              <div class="form-outline mb-2">
                 <label class="form-label" for="avatar">Avatar</label>
                <input type="file" class="form-control" id="avatar"  name="avatar">
            </div>

            <div class="form-outline mb-2">
                 <label class="form-label" for="resume">Resume/CV</label>
                <input type="file" class="form-control" placeholder="Resume/CV" name="resume">
            </div>
       <div class="text-end mt-2 mb-4">
            <button type="submit" class="btn btn-success text-end rounded-pill">Submit</button>
            </div>
        </form>
        
<p>Back to <a href="/profile">profile</a></p>
<p>Go <a href="/">Home</a></p>

    </div>
</div>
</section>



<%- include('footer') -%>